<div class="jumbotron2">
	<img class="imagesb" src="public/images/Desktop-Backgrounds-27.jpg">
	<h1 class="title" style="margin-top: -1.8em;color: #fff;text-align: left; margin-bottom: 1em;">Our Story</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="row">

				<!--<div class="hl1"></div>-->
				<div class="row" align="center">
					<img class="img-responsive" src="public/images/outstory.png" />
				</div>

				<div class="row">


					<div class="col-xs-1 col-md-3" ></div>
					<div class="col-xs-10 col-md-6" >
						<div class="space1x" ></div>
						<div class="txtNewJustify" >
							<div class="jumbotron2">
								{{'about.infor' | translate}}
							</div>

								<!--<b>H</b>aphansoft is the IT department of Haphan.
								At Haphansoft we <i>build software</i> that is used with the products that Haphan supplies.
								Because we work closely with Haphan, you can expect <i>seemless integrated software</i> with your products.
								Beside creating software, we provide <i>consultancy</i> to help you grow and gain a
								<i>competitive advantage</i>, using the
								<span class="underline">newest trends in IT</span>.-->

						</div>
						<div class="space2x" ></div>
						<div class="hl2"></div>
					</div>
					<div class="col-xs-1 col-md-3" ></div>

				</div>
				<div class="row">
					<div class="space3x"></div>
				</div>
			</div>
		</div>
	</div>
</div>