
<p class="space4x"></p>

	<div class="jumbotron2 center" >
		<h1 class="B">HAPHANSOFT</h1> 
		<br>
		<hr class="Dash" /> 
		<br>
		<br>
		<h2 class="title-h">{{'home.infor' | translate}}</h2>
	</div>

<div class="space10x"></div>
<div id="main-container" class="container">
	<div class="row">

		<div class="col-xs-2 col-md-1"></div>
		<div class="col-xs-8 col-md-6 img-responsive-home">
			<div class="c4bg" ></div>
			<img class="img-responsive-home" src="public/images/index.png" />
		</div>
		<div class="col-xs-2"></div>

		<div class="col-xs-12 col-md-5">

			<div class="space3x"></div>

			<div class="row circles">

				<div class="col-xs-3 col-md-4">
					<div align="center" class="b" >
						<a class="circle bcolor1" href="#services" >
							<span class="blabel transition">Services</span>
							<div class="mg3imageItem">
								<div class="mg3imageItemtitle" style="margin-left: 15px;">Services</div>
							</div>
						</a>
					</div>
					<img class="wp" src="public/images/services.png" />
				</div>

				<div class="col-xs-3 col-md-4">
					<div align="center" class="b" >
						<a class="circle bcolor2" href="#about" >
							<span class="blabel transition" >About Us</span>
							<div class="mg3imageItem">
								<div class="mg3imageItemtitle" style="margin-left: 15px;">About Us</div>
							</div>
						</a>
					</div>
					<img class="wp" src="public/images/aboutus.png" />
				</div>

				<div class="col-xs-3 col-md-4">
					<div align="center" class="b" >
						<a class="circle bcolor3"  href="#contact" >
							<span class="blabel transition" >Contact</span>
							<div class="mg3imageItem">
								<div class="mg3imageItemtitle" style="margin-left: 15px;">Contact</div>
							</div>
						</a>
					</div>
					<img class="wp" src="public/images/contact.png" />
				</div>

			</div>
		
			<div class="space2x"></div>
			<div class="row">

				<div class="col-xs-11 col-md-12">
					<h3 class="grayC bold">Software that runs your warehouse</h3>
				</div>
		
			</div>
			<div class="space0x"></div>
			<div class="row">

				<div class="col-xs-11 col-md-12">
					<h3 class="orangeC bold">All in One Package</h3>
				</div>

			</div>
		</div>


	</div>
</div>