<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Haphansoft</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet">

<script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>

	<header>
		<div w3-include-html="nav.html"></div>
	</header>

	<section>
		<div class="space2x"></div>
			<div class="jumbotron2 center" style="width: 100%;">

				<h2>Welcome to Haphansoft</h2>
			</div>
			<div class="space10x"></div>

			<div class="row">
			
				<div class="col-xs-2 col-md-1"></div>
				<div class="col-xs-8 col-md-6 img-responsive-home">
					<div class="c4bg" ></div>
					<img class="img-responsive-home" src="images/index.png" />
				</div>
				<div class="col-xs-2"></div>

				<div class="col-xs-12 col-md-5">
				
					<div class="space3x"></div>
					
					<div class="row circles">

						<div class="col-xs-3 col-md-4">
							<div align="center" class="b" >
								<a class="circle bcolor1" href="#" target="_self" >
									<span class="blabel" style="">Services</span>
								</a>
							</div>
							<img class="wp" src="images/services.png" />
						</div>
						
						<div class="col-xs-3 col-md-4">
							<div align="center" class="b" >
								<a class="circle bcolor2" href="#" target="_self" >
									<span class="blabel" style="">About Us</span>
								</a>
							</div>
							<img class="wp" src="images/aboutus.png" />
						</div>

						<div class="col-xs-3 col-md-4">
							<div align="center" class="b" >
								<a class="circle bcolor3"  href="#" target="_self" >
									<span class="blabel" style="">Contact</span>
								</a>
							</div>
							<img class="wp" src="images/contact.png" />
						</div>

					</div>
					<div class="space2x"></div>
					<div class="row">
						<div class="col-xs-11 col-md-12">
							<h3 class="grayC bold">Software that runs your warehouse</h3>
						</div>
					</div>
					<div class="space0x"></div>
					<div class="row">
						<div class="col-xs-11 col-md-12">
							<h3 class="orangeC bold">All in One Package</h3>
						</div>
					</div>
				</div>
				
			</div>

		</section>
		
		<hr>
		
		<div w3-include-html="footer.html"></div>
			

	
	


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="js/bootstrap.js"></script>
	<script>
	w3.includeHTML();
	</script>
</body>
</html>
