<div class="color" style="background: #000;"></div>
	<img class="imagesb" src="public/images/powerpoint-cong-nghe-thong-tin-16.jpg">
	<div class="jumbotron2">
		<h1 class="title" style="margin-top: -1.8em;color: #fff;text-align: left;">{{'services.title' | translate}}</h1>
	</div>
<div class="container">
	<div class="row" style="margin-top: 5em;">

		<div class="col-xs-12 col-md-9">
			<div class="row">
				<div class="row">
					<div class="col-xs-3 col-md-2" >
						<a href="#services">
							<img class="img-responsive-service" src="public/images/software.png" />
						</a>
					</div>

						<div class="col-xs-9 col-md-10 txtNewJustify">
							{{'services.infor1' | translate}}
						</div>

				</div>
			</div>
			<div class="row">
				<div class="hl1"></div>
				<div class="row">
					<div class="col-xs-3 col-md-2" >
						<a href="#services">
							<img class="img-responsive-service" src="public/images/development.png" />
						</a>
					</div>

						<div class="col-xs-9 col-md-10 txtNewJustify">
							{{'services.infor' | translate}}
						</div>

				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-3">
			<div class="row space4x"></div>
			<div class="row" >
				<div class="col-md-1" ></div>
				<div class="col-xs-3 col-md-3">
					<div class="wfcircle" >
						<div class="c2bg c2clients" ></div>
						<div class="c2inlineContent"></div>
					</div>
					<div class="wfcircleimg wfimgStar" >
						<img src="public/images/star.png" />
					</div>
				</div>
				<div class="col-xs-6 col-md-7" >
					<p class="space1x"></p>
					<h6 class="">Clients</h6>
					<div style="text-decoration:underline;">
						<a><span style="font-size:12px;">Haphan</span></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>